#canvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #b8d1fc 0%, #f2f0da 80%);
  background: radial-gradient(
    at 50% 75%,
    #dadcf2 0%,
    #ecdde5 40%,
    #b8d1fc 80%,
    #9ebcf1 100%
  );
}
