#canvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    at 50% 75%,
    #254377 0%,
    #1c3157 40%,
    #0a0f18 80%,
    #0a111e 100%
  );
}

.canvas-model {
  height: 400px;
}